@CHARSET "UTF-8";

@media screen and (min-width: 1500px) {
	#header {
		padding: 0 10%;
	}
	
	#user_info {
		right: 25%;
	}
}

@media screen and (min-width: 1017px) and (max-width: 1500px) {
	#header {
		padding: 0
	}
	
	#user_info {
		right: 0;
	}
}

@media screen and (min-width: 1017px) {
	.main_frame {
	    position: relative;
	    left: 50%;
	    top: 30px;
	    width: 1000px;
	    margin-left: -500px;
	}
} 

@media screen and (max-width: 1017px) {
	#header {
		padding: 0;
	}
	
	#user_info {
		right: 0;
	}
	
	.main_frame {
	    margin: 30px 0 0 0;
	    width: 100%;
	}
}

#header {
	background-color: rgba(255,255,255,0.8);
    position: fixed;
    height: 86px;
    min-width: 500px;
    max-height: 86px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-bottom: 2px solid RGB(220,0,0);
    box-shadow: 3px 3px 10px 0px silver;
    z-index: 100;
}

#title{
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 64px;
    text-align: center;
    width: 150px;
    cursor: pointer;
}

.board_list {
	display: inline-block;
    position: relative;
	list-style-type: none;
    top: -17px;
    left: 10px;
    padding: 0;
}

.board_list li {
	display: inline-block;
	padding: 12px;
	cursor: pointer;
}

#user_info {
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 100%;
}

#user_info .user_button {
	display: inline-block;
    background-color: white;
    height: 30px;
    width: 30px;
    margin: 3px;
    cursor: pointer;
	background-size: cover;
}

#login {
    display: inline-block;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    margin: 30px 30px 0 0;
    text-align: right;
}

#goto_login {
	background-image: url("/img/power.ico");
}

#goto_signup {
	background-image: url("/img/plus.ico");
}

#login_info {
    margin: 30px 0 0 0;
}

#info {
	display: inline-block;
   	margin-top: 7px;
   	max-width: 165px;
}

#logout {
	background-image: url("/img/power.ico");
	position: absolute;
	right: 0;
}

#loading {
	position: absolute;
	display: none;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif");
	background-position: center center;
	background-repeat: no-repeat;
	background-color: white;
	opacity: 0.7;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
}

#body {
    position: relative;
    width: calc(100% + 16px);
    min-height: 774px;
    min-width: 500px;
    top: 78px;
    left: -8px;
}

#post_files {
	
}

.post_file {
    display: inline-block;
    margin: 5px 0;
    padding: 5px;
    cursor: pointer;
}

.post_file_image {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-image: url(/img/file.ico);
}

.post_file_name {
	display: inline-block;
    font-size: 14px;
}

.xls, .xlsx {
    background-image: url(/img/excel.ico);
}

.png, .jpg, .jpeg, .gif {
    background-image: url(/img/image.ico);
}

.mp3, .wav {
    background-image: url(/img/music.ico);
}

.pdf {
    background-image: url(/img/pdf.ico);
}

.ppt, .pptx {
    background-image: url(/img/powerpoint.ico);
}

.doc, .docx {
    background-image: url(/img/word.ico);
}

.zip, .tar {
    background-image: url(/img/zip.ico);
}

#footer {
    position: relative;
    border-top: 2px solid RGB(220,0,0);
    width: calc(100% + 16px);
    min-width: 500px;
    left: -8px;
    bottom: -8px;
    height: 150px;
    margin-top: 120px;
}

#footer_logo {
    background-image: url(/img/logo.png);
    background-size: cover;
    display: inline-block;
    width: 278px;
    height: 150px;
    margin-left: 100px;
}