@CHARSET "UTF-8";

#title {
	display: inline-block;
    margin: 0;
    height: 100%;
    width: 200px;
    text-align: center;
    font-size: 55px;
	cursor: pointer;
}

.board_list {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.board_list li {
	display: inline-block;
	font-size: 20px;
	padding: 0 15px;
	cursor: pointer;
}