@CHARSET "UTF-8";

@import url("/css/header.css");
@import url("/css/footer.css");
@import url("/css/board.css");

#header {
    background-color: skyblue;
    position: fixed;
    height: 86px;
    max-height: 86px;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 100;
}

#footer {
    background-color: gray;
    position: relative;
    width: calc(100% + 16px);
    left: -8px;
    bottom: -8px;
    height: 200px;
    margin-top: 70px;
}

.board {
    position: relative;
    width: calc(100% + 16px);
    min-height: 776px;
    top: 78px;
    left: -8px;
}