@CHARSET "UTF-8";

#signup_frame {
	padding: 50px 200px;
    text-align: center;
}

.signup_table {
    width: 100%;
    border-top: 2px solid #838e8e;
    border-collapse: collapse;
    color: #333;
}

.signup_table tr {
	border-bottom: 1px solid #e1e1e1;
}

.signup_table td:first-child {
    width: 98px;
    text-align: center;
    background-color: #f5f6f6;
    font-weight: bold;
}

.signup_table td {
   	padding: 20px 0;	
}

.signup_form {
    width: 90%;
    height: 35px;
    margin: 5px 0 5px 10px;
    padding: 5px 10px;
    font-size: 20px;
}

.form_status {
	display: inline-block;
	position: relative;
	background-size: cover;
    top: 10px;
	height: 25px;
	width: 25px;
}

#user_email {
	margin-left: 20px;
    font-weight: bold;
}

.page_button {
	background-color: #DC0000;
	border-radius: 4px;
	text-align: center;
	display: inline-block;
	height: 50px;
	width: 145px;
    margin: 20px;
	color: white;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
} 

#admin_page {
	width: 190px;
}
